<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <main id="app">
      <h1>{{ title }}</h1>
      <form>
        <input v-model="text" type="text" />
        <button type="submit" @click.prevent="onClickSend()">Send</button>
      </form>
      <p>
        {{total}}
        <ul>
          <li v-for="msg of messages">
            <strong>{{ msg.sender }}</strong>: {{ msg.message }}
          </li>
        </ul>
      </p>
    </main>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          title: 'Web Socket Chat',
          sender: "",
          receiver: "",
          text: '',
          messages: [],
          socket: null,
          total: 0,
        },
        methods: {
          onClickSend() {
              this.socket.emit('chatToServer', { sender : this.sender, receiver: this.receiver, message: this.text });
              this.text = "";
          },
          receiveMessage(msg) {
            this.messages.push(msg);
            this.total = this.total + 1;
          },
        },
        created() {
          this.sender = prompt("输入你的名字: ");
          this.receiver = prompt("输入对方名字: ");
          this.socket = io('http://154.37.219.135:3000/chat');

          const roomName = [this.sender, this.receiver].sort().join('-');

          // 加入指定房间
          this.socket.emit('joinRoom', roomName)
          this.socket.on('chatToClient', (msg) => {
            this.receiveMessage(msg);
          });
        }
      });
    </script>
  </body>
</html>
